@import "reset.css";
@import "common.css";
@import "typography.css";

body {
    overflow: hidden;
    padding-top: 70px;
    height: 100vh;
}

/* ===================
   -------HEADER------
   =================== */

header nav {
    z-index: 10;
    background-color: white;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 10%);
}

.nav-tools {
    padding: 0 10px;
    margin: 0 5px;
}

.header-wrapper::before {
    content: "";
    display: flex;
    min-width: 47px;
    height: 38px;
    margin-right: 20px;
    background-image: url('img/mobile-logo.png');
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    left: -1px;
}

.header-wrapper .fa-magnifying-glass {
    position: absolute;
    left: 82px;
    top: 11px;
    pointer-events: none;
}

.header-wrapper input {
    background-color: rgba(128, 128, 128, 0.2);
    transition: background-color 0.2s;
}

.header-wrapper input:focus {
    background-color: transparent;
}

.header-wrapper button {
    background-color: transparent;
    border: none;
    color: grey;
    border-radius: 5px;
}

.header-wrapper button:hover {
    background-color: lightgray;
}

.header-wrapper button:active {
    background-color: darkgray;
}

.header-wrapper button:last-child {
    color: orange;
}

@media screen and (min-width: 992px) {
    .header-wrapper::before {
        display: none;
    }

    .header-wrapper .fa-magnifying-glass {
        left: 180px;
    }
}

/* ===================
   -------ASIDE-------
   =================== */

aside {
    background-color: #061e34;
    background-image: url('img/sidebar-bg.png');
    width: 70px;
    height: 100%;
    padding-left: 15px;
    padding-top: 70px;
    z-index: 5;

    position: fixed;
    top: 0;
    left: 0;
}

aside i {
    margin-left: 5px;
    margin-top: 15px;
}

aside li:nth-child(2) span{
    position: relative;
    left: 4px;
}

aside div * {
    margin-bottom: 30px;
}

@media screen and (min-width: 992px) {

    aside {
        width: 140px;
    }

    aside i {
        margin-left: 0;
        margin-right: 10px;
    }
}

/* ===================
   -------INNER-------
   =================== */

main {
    height: 100%;
}

#inner {
    padding-left: 80px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#inner-top {
    background-color: #1c71e8;
    color: white;
}

#inner-top .badge {
    margin-left: 5px;
}

#inner-top span:first-child.badge {
    margin-right: 5px;
}

.badge {
    background-color: rgba(0, 0, 0, 0.2);
}

#inner table {
    width: 95%;
}

#inner table thead th:nth-child(4) {
    position: relative;
    left: 3px;
}

#inner table img {
    width: 23px;
}

#inner table i {
    color: grey;
    position: relative;
    left: -5px;
    top: -3px;
}

#inner table .btn {
    height: 30px;
    width: 30px;
    margin-top: -3px;
}

@media screen and (min-width: 992px) {
    #inner {
        padding-left: 150px;
    }
}

.graph-info span,
.graph-info li {
    border-bottom: 1px solid lightgray;

}

.graph-info * {
    padding-left: 10px;
}

.graph-info li {
    padding-top: 5px;
    padding-bottom: 5px;
}

@media screen and (min-width: 992px) {
    #graph {
        margin-top: -180px;
    }
}

@media screen and (min-width: 1294px) {
    #graph {
        margin-top: -230px;
    }
}
