* {
    font-family: 'Roboto', sans-serif;
}

aside a {
    color: white;
    text-decoration: none;
}

aside a:hover {
    color: lightgray;
}

#inner h1 {
    font-size: 2rem;
}

#inner h2 {
    font-size: 1.6rem;
}

#inner table th {
    font-weight: 400;
}