* {
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
}

#inner-top #students-number {
    font-size: 1.7rem ;
}

@media screen and (min-width: 992px) {

    #inner-top #students {
        position: relative;
        top: -8px;
    }
    
    #inner-top #students-number {
        font-size: 1.7rem ;
        position: relative;
        top: -5px;
    }
}

aside a {
    color: white;
    text-decoration: none;
}

aside a:hover {
    color: lightgray;
}

#inner h1 {
    font-size: 2rem;
}

#inner h2 {
    font-size: 1.6rem;
}

#inner h5 {
    font-weight: 500;
}

#inner table th {
    font-weight: 400;
}

#todo *,
.graph-info span,
.accordion * {
    white-space: normal;
}